<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>488816724512-pl1rv5tintqt97vrlr644icr4pbn0h41.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.488816724512-pl1rv5tintqt97vrlr644icr4pbn0h41</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>488816724512-0a6e6u63rhuj99o19kntr4i2ge5731m8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC7I8LYIU2CpYjEMM2Oo5pDWv8eyMQONSM</string>
	<key>GCM_SENDER_ID</key>
	<string>488816724512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.client</string>
	<key>PROJECT_ID</key>
	<string>policymaker-ee7e9</string>
	<key>STORAGE_BUCKET</key>
	<string>policymaker-ee7e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:488816724512:ios:907270c91f56a8372b0a45</string>
</dict>
</plist>