.home {
  display: flex;
  background-color: rgba(255, 255, 255, 1);
  .homeContainer {
    flex: 6;

    .widgets {
      display: flex; /* Display as a flex container */
      justify-content: space-between; /* Space items evenly */
      flex-wrap: wrap; /* Allow wrapping of widgets */
      gap: 20px; /* Space between widgets */
      padding: 20px; /* Padding around the container */
      border: 1px solid rgba(0, 0, 0, 0.1); /* Light border for the container */
      border-top-left-radius: 55px;
  border-top-right-radius: 55px;

      /* Background color for the container */
      margin: 20px;
    }
    .charts {
      display: flex;
      padding: 20px;
      gap: 20px;
    }

    .charts {
      padding: 5px 20px;
    }

    .listContainer {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 20px;
      margin: 20px;

      .listTitle {
        font-weight: 500;
        color: gray;
        margin-bottom: 15px;
      }
    }
  }
}
