.admin-navbar {
  height: 50px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #55697b66;

  .wrapper {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navbar-title {
      font-weight: bold;
      padding: 10px;
      font-size: 28px; /* Larger text */
      text-align: center; /* Center the text */
      color: black;
    }

  }
}
