.poll-container {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  
    h2 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
  
    p {
      margin-bottom: 1.5rem;
      color: #666;
    }
  
    /* Left Section Styles */
    .poll-container-left {
      flex: 1;
  
      .form-group {
        margin-bottom: 1rem;
  
        label {
          display: block;
          font-weight: bold;
          margin-bottom: 0.5rem;
        }
  
        input,
        select {
          width: 100%;
          padding: 0.5rem;
          border: 1px solid #ddd;
          border-radius: 5px;
          margin-top: 0.5rem;
        }
      }

      .image-preview {
        margin-top: 10px;
      
        .preview-img {
          max-width: 100%;
          height: auto;
          border: 1px solid #ccc;
          padding: 5px;
          border-radius: 4px;
        }
      }
      
  
      .add-description {
        display: block;
        margin: 1rem 0;
        background: #f0f0f0;
        border: none;
        padding: 0.5rem 1rem;
        cursor: pointer;
        color: #6439ff;
      }
  
      .options {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
  
        .add-option,
        .add-other {
          background: none;
          border: none;
          color: #6439ff;
          cursor: pointer;
          text-align: left;
          padding: 0;
          margin-top: 0.5rem;
        }
      }
    }
  
    /* Right Section Styles */
    .poll-container-right {
      flex: 1;
  
      .settings {
        padding: 1rem;
        border-radius: 10px;
  
        h3 {
          font-size: 1.2rem;
          margin-bottom: 1rem;
          color: #333;
        }
  
        .setting-item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 1rem;
  
          label {
            font-weight: normal;
            color: #555;
          }
  
          input[type="checkbox"],
          select {
            margin-left: 0.5rem;
          }
        }
  
        .advanced-settings {
          display: block;
          margin-top: 1rem;
          color: #6439ff;
          text-decoration: underline;
          cursor: pointer;
        }
      }
  
      .create-poll {
        display: block;
        width: 100%;
        padding: 0.75rem;
        background: #6439ff;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
        margin-top: 1rem;
      }
    }
  }
  